
.dashboard .box-container{
    display: grid;
    grid-template-rows: auto;
    gap: 1.5rem;
    justify-items: center;
}

.dashboard .box-container .announcement{
    display: grid;
    grid-template-rows: auto;
    border-radius: .5rem;
    width: 60%;
    height: auto;
    background-color: var(--white);
    padding: 2rem;
}

.dashboard .box-container .announcement h3{
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.dashboard .box-container .announcement form{
    margin-top: 1rem;
}

.dashboard .box-container .announcement form textarea {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.5rem;
    width: 100%; 
    box-sizing: border-box; 
}


.dashboard .box-container .announcement .option-btn{
    width: 12rem;
    justify-items: center;
}


.dashboard .box-container .notes{
    display: grid;
    grid-template-rows: auto;
    border-radius: .5rem;
    width: 60%;
    height: auto;
    background-color: var(--white);
    padding: 2rem;
}

.dashboard .box-container .notes h3{
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: .2rem;
}

.dashboard .box-container .notes form{
    display: grid;
    margin-top: 1rem;
}

.dashboard .box-container .notes .option-btn{
    width: 12rem;
    justify-items: center;
}

.dashboard .box-container .notes input[type="file"] {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
}

.dashboard .box-container .uploaded-files{
    display: grid;
    grid-template-rows: auto;
    border-radius: .5rem;
    width: 60%;
    height: auto;
    background-color: var(--white);
    padding: 2rem;
}

.dashboard .box-container .uploaded-files h3{
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 1rem; 
}

.dashboard .box-container .uploaded-files .file-item{
    display: inline;
    margin-top: 1rem;
}
.dashboard .box-container .uploaded-files .file-item p{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 1rem; 
}

.dashboard .box-container .uploaded-files p{
    font-size: 1.5rem;
    color: var(--black);
}

/* Style download link */
.dashboard .box-container .uploaded-files .file-item .btn {
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    width: 12rem;
}

.dashboard .box-container .uploaded-files .file-item .delete {
    background-color: var(--red);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

