
.user-profile .info{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   margin-right: 15rem;
   margin-left: 15rem;
 }
 
 .user-profile .info .user{
   display: grid;
   grid-template-rows: auto;
   text-align: center;
   margin: 2.5rem;
   padding: 2.5rem;
 }
 
 .user-profile .info .user img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin: 1rem;
   justify-self: center;
 }
 
 .user-profile .info .user h3{
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: 2rem;
 }

 .user-profile .info .user .details{
   justify-self: flex-start;
   width: 100%;
   border: var(--border);
   border-radius: 2rem;
   padding: 1rem;
 }
 
 .user-profile .info .user .details p{
   font-size: 1.7rem;
   color: var(--light-color);
   padding: .3rem 0;
   text-align: left;
 }
 