
.students .box-container{
    display: grid;
    grid-template-rows: auto;
    width: 60%;
    margin: auto;   
    background-color: var(--white);
    border-radius: 0.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 2.5rem;
}

.students .box-container .student-box{
    border-bottom: var(--border);
}

.students .box-container .name{
    font-size: 1.8rem;
    color: var(--black);
    margin-top: 2.5rem; 
}

.students .box-container .usn{
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 0.5rem;
}

.students .box-container .file-list form button{
    margin-bottom: 0.5rem;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}