.home-grid .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27.5rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
    position: auto;
 }
 
 .home-grid .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
    position: absolute;
    justify-content: center;
    overflow: auto;
 }

 .tg { 
   border-collapse: collapse;
   border-spacing: 0;
}

.tg td {
   border-color: black;
   border-style: solid;
   border-width: 1px;
   font-family: Arial, sans-serif;
   font-size: 14px;
   overflow: hidden;
   padding: 7px 14px;
   word-break: normal;
}

.tg th {
   border-color: black;
   border-style: solid;
   border-width: 1px;
   font-family: Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   overflow: hidden;
   padding: 7px 14px;
   word-break: normal;
}

.tg .tg-wa1i {
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
}

.tg .tg-nrix {
   text-align: center;
   vertical-align: middle;
}

@media screen and (max-width: 767px) {
   .tg {
       width: auto !important;
   }

   .tg col {
       width: auto !important;
   }

   .tg-wrap {
       overflow-x: auto;
       -webkit-overflow-scrolling: touch;
   }
}

 
 .home-grid .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .home-grid .box-container .tutor{
    padding: 1rem 0;
    font-size: 1.8rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .home-grid .box-container .likes{
    color:var(--light-color);
    font-size: 1.7rem;
    margin-top: 1.5rem;
 }
 
 .home-grid .box-container .likes span{
    color:var(--main-color);
 }
